* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.highscore {
  display: flex;
  align-self: left;
  margin: 1rem;
  font-size: 1.5rem;
}
.timer {
  display: flex;
  align-self: right;
  margin: 1rem;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  width: 50%;
  padding: 1rem;
}
.choices {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
button {
  background-color: #6600cc;
  border-radius: 4px;
  color: white;
  margin: 0.2rem;
  outline: none;
  padding: 0.5rem 0.5rem;
  border: none;
}

.hide {
  display: none;
}
